* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

#three-canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.sections {
  position: relative;
  z-index: 5;
}

.section {
  padding: 5rem;
  height: 100vh;
}

.section h2 {
  font-size: 10vmin;
}

.section:nth-child(odd) {
  text-align: right;
}
